<h3 class="status-text-bad">
  {{ message }}
  <span class="http-status-code">{{ error.status }}</span>
</h3>
<p>Ouch, something went wrong. Tell someone on the tech team if refreshing the page doesn't fix your problem.</p>
<code class="stack-trace">{{ error.stack }}</code>
