
<h2>Frequently Asked Questions</h2>
<h4>What is this?</h4>
<p>We continually monitor our systems to make sure everything's running smoothly. This page shows uptime and deployment information across our ecosystem.</p>

<h4>What does platform version mean?</h4>
<p>We "tag" our code when we're ready to deploy. This lets us take a snapshot of the platform code at a specific point in time, and then deploy that same code to multiple environments.</p>
<p>The US QA server updates with the latest code from the "dev" branch, and lets us test new features against a replica of the production database from the previous day.</p>

<h4>How is uptime measured?</h4>
<p>Uptime is measured by <a href="#">Pingdom</a>, and is displayed as a percentage of uptime over the past 30 days. Pingdom checks availability of each endpoint every minute from multiple servers around the globe.</p>

<!-- 
<h4>How do automated tests work?</h4>
<p></p>
-->

<p><a href="/">Go Back</a></p>
